site_name: Serialize
site_author: drake
site_description: Serialize document
copyright: Copyright &copy; 2018 - 2020 Drake

repo_name: GitHub
repo_url: https://github.com/liangjingkanji/Serialize

extra_css:
  - css/extra.css

docs_dir: docs

theme:
  name: material
  custom_dir: docs/material

  palette:
    scheme: drake
    primary: white

  font: false

  language: zh

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed


nav:
  - 序列化: serialize.md
  - 组件参数: parameters.md
  - 自动恢复数据: stateInstance.md
  - 常用意图: intent.md
