site_name: Serialize
site_description: Serialize document
repo_url: https://github.com/liangjingkanji/Serialize
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/liangjingkanji
    - icon: fontawesome/brands/qq
      link: https://raw.githubusercontent.com/liangjingkanji/liangjingkanji/master/img/group-qrcode.png

site_author: 劉強東
copyright: Copyright &copy; 2018 - 2023 劉強東
repo_name: GitHub
docs_dir: 'docs'
extra_css:
  - css/extra.css
theme:
  name: material
  custom_dir: docs/material
  favicon: img/book-open.svg
  logo: img/book-open.svg
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
  font: false
  language: zh
  features:
    - navigation.top
    - navigation.prune
    - navigation.footer
    - navigation.instant
    - search.highlight
    - search.suggest
    - search.share
    - content.code.copy
    - content.code.annotate
plugins:
  - offline
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
      lang:
        - en
        - zh
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - def_list
  - md_in_html
  - admonition
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg


nav:
  - 序列化字段: index.md
  - 序列化函数: function.md
  - 序列化配置: config.md
  - 序列化LiveData: liveData.md
  - 自定义序列化: hook.md
  - 常见问题: issues.md
  - 页面参数: arguments.md
  - 更新日志: updates.md
  - 1.x文档: api/index.html
