<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drake.serialize">

    <application>
        <provider
            android:name="com.drake.serialize.init.InitContentProvider"
            android:authorities="${applicationId}.drake.serializeInit"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>